In [12]:
import pandas as pd

In [34]:
data = pd.read_csv('Resources/city_data.csv')
data.drop(columns='Pressure (hPa)',inplace=True)
data.rename(columns={
    'Temperature (F)':'Temp (F)',
    'Min Temperature (F)': 'Min Temp (F)',
    'Max Temperature (F)': 'Max Temp (F)',
    'Latitude':'Lat',
    'Longitude':'Lon'
}, inplace=True)

In [35]:
data

,City,Country,Lat,Lon,Temp (F),Min Temp (F),Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date (UTC)
0,rikitea,PF,-23.1203,-134.9692,73.98,73.98,73.98,79,91,13.18,1627500010
1,ushuaia,AR,-54.8000,-68.3000,42.46,42.46,44.22,87,75,3.44,1627500090
2,ponta do sol,PT,32.6667,-17.1000,74.28,73.13,75.70,76,1,3.67,1627500091
3,never,RU,53.9833,124.1667,59.14,59.14,59.14,100,74,3.51,1627500091
4,mar del plata,AR,-38.0023,-57.5575,45.77,44.62,47.08,63,75,3.00,1627500053
...,...,...,...,...,...,...,...,...,...,...,...
546,sioux lookout,CA,50.1001,-91.9170,80.67,80.67,82.78,69,90,2.30,1627500265
547,la romana,DO,18.4273,-68.9728,91.76,87.53,91.76,55,40,17.27,1627500346
548,kirksville,US,40.1948,-92.5833,91.36,89.55,94.05,62,1,0.00,1627500504
549,mpika,ZM,-11.8343,31.4529,54.52,54.52,54.52,51,100,4.27,1627500504
550,bardiyah,LY,31.7561,25.0865,81.34,81.34,81.34,62,0,8.86,1627500504

In [36]:
data.to_html('data_table.html',index=False,justify='left')